body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 40px;
}

p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 40px;
  color: #ffffff;
}

.content {
  width: 80%;
  height: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  background-color: #6943ff;
  color: #ffffff;
  border: 2px solid #b295ff;
  padding: 0 5px;
  border-radius: 0.25rem;
  font-size: 58px;
  font-weight: 900;
  field-sizing: content;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 117px;
  max-width: 80%;
  height: 83px;
  margin-bottom: 30px;
  appearance: textfield;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f2937;
  border-radius: 5px;
  margin-top: 20px;
  width: 550px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #6943ff;
  border-radius: 5px 5px 0 0;
  margin-bottom: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #3d3d3d;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 0.25rem;
  flex-grow: 1;
  font-size: 16px;
  font-family: inherit;
  max-width: 42%;
  height: 40px;
}

.reset {
  background-color: #6943ff;
  color: #b295ff;
  border: 1px solid;
  border-color: #b295ff;
}

.reset:hover {
  opacity: 0.1;
}

.reset:disabled,
.reset:hover:disabled {
  opacity: 0.1;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.conversion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
  width: 100%;
  height: 100%;
}

.conversion-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  background-color: #273549;
  border-radius: 5px;
  margin-bottom: 20px;
}

.conversion-result h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #ccc1ff;
}

.conversion-result p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: Regular;
  color: #ffffff;
}

*:disabled:hover {
  cursor: default;
  opacity: 1;
}
